apiVersion: apps/v1
kind: Deployment
metadata:
  name: vqa-agent
  namespace: default   # <--- ADD THIS LINE
  labels:
    app: vqa-agent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vqa-agent
  template:
    metadata:
      labels:
        app: vqa-agent
    spec:
      containers:
      - name: vqa-container
        # Ensure this matches your pushed image
        # image: rishabh720/vqa-project:v2 
        image: {{ docker_user }}/vqa-app:{{ image_tag }} 
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
        resources:
          limits:
            cpu: "1000m"
            memory: "4Gi"
          requests:
            cpu: "500m"
            memory: "1.5Gi"
        volumeMounts:
        - mountPath: /app/data
          name: data-volume
      volumes:
      - name: data-volume
        hostPath:
          path: /data
---
apiVersion: v1
kind: Service
metadata:
  name: vqa-service
  namespace: default   # <--- ADD THIS LINE
spec:
  type: LoadBalancer
  selector:
    app: vqa-agent
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000

---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: vqa-agent-hpa
  namespace: default
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: vqa-agent
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50